

.category-container{
    width:90%;
    background: rgb(248, 248, 248);
    margin:  auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
     height: 90vh;
     padding: 5%
}
.category-element{
    width:20%;
    height:200px;
 margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}


.category-img{
    font-size:60px;
    color:#24BD77;
    font-weight: bold;
padding:40px;
margin:10px;
border-radius: 50%;
border: 2px solid #55AAE2;
background: white;
cursor: pointer;
}
.category-title{
font-family: tahoma;
letter-spacing: 1px;
text-transform: capitalize;
font-size: 20px;
font-weight: bold;
color:rgb(80, 80, 80);
}
.category-element:hover >.category-img{
    background:#55AAE2;
    color:white;
    transition: .5s all ease-in-out;
}  
.category-element:hover>.category-title{
  color:#55AAE2;
}

.select> .category-img{
    color:white;
    background: #55AAE2;
    border:3px solid #24BD77;
    transition: .5s all ease-in-out;
}
.select>.category-title{
    color:#55AAE2;
  }

  .go-to{
      position: fixed;
      background: #24BD77;
      color:white;
      width:100px;
      line-height: 50px;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
      right:30px;
      bottom:50px;
      cursor: pointer;

  }
  .go-to:hover{
      background: #55AAE2;
  }
  .category-header{
      font-size:26px;
      color:rgb(66, 66, 66);
text-align: center;
width:100%;
font-weight: bold;
  }
